@charset "UTF-8";
/* CSS Document */

{
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */

/* Create four equal columns that floats next to each other */

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
}

div {
    box-sizing: border-box;
    width: 100%;
}
.infiniteContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 10%;
    overflow-x: auto;
    white-space: nowrap;

}

.infiniteCell {
    flex: fit-content;
    padding: 10px;
    display: inline-block;
    width: 220px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    background: transparent;
}

.data {
    justify-content: center;
    white-space: normal;
}

@media only screen and (max-width: 640px) {

    .container {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
    }

}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
    .container {
        position: relative;
    }

}