h1, h2, h3, h4{
    color: black;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

#content{
	margin: 5px 0;
	background: white;
	padding: 20px;
	clear: both;
	box-shadow: 0px 1px 1px #999; 
}

table, th, td{	
				border: 1px solid black; 
			}
	th{background: #ff9f23;}
	td{background: white;}


#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 40px;
		}
			#nav ul li a{
				padding: 10px;
				background: orange;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

.btn {

	background: #eb94d0;
	background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
	background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
	background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
	background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
	background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;

	text-shadow: 3px 2px 1px #9daef5;
	-webkit-box-shadow: 6px 5px 24px #666666;
	-moz-box-shadow: 6px 5px 24px #666666;
	box-shadow: 6px 5px 24px #666666;

	font-family: Arial;
	color: #fafafa;
	font-size: 18px;
	padding: 19px;
	text-decoration: none;
}
.btn:hover {

	background: #2079b0;

	background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
	background-image: linear-gradient(to bottom, #2079b0, #eb94d0);

	text-decoration: none;
}
